* {
  font-family: Georgia, 'Times New Roman', serif;
}

h1.site-title
{
  font-size: large;
  font-weight: normal;
  float: right;
  margin-top: 15px;
  margin-right: 36px;
  width: 90%;
  text-align: right;
  color: white;
}

h1 > span[class=site-name]
{
  font-weight: bold;
  font-size: larger;
}

h3
{
  float: right;
  text-align: right;
  margin-top: 0px;
  margin-right: 45px;
  margin-bottom: 20px;
}

body
{
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: #cbc98e 0 60px repeat-x;
  text-align: center;
  color: white;
}

#topnav
{
  clear: both;
  text-align: center;
  padding: 30px 25px 25px 75px;
}

a
{
  color: white;
}

a:hover, #topnav > a:hover
{
  background-color: #2144AC;
}

#topnav > a
{
  margin: 5px;
  padding: 5px;
  background-color: #8FA0CC;
  border-radius: 10px;
  padding: 0 10px;
}

#page
{
  width: 90%;
  max-width: 760px;
  min-width: 100px;
  margin: auto;
  text-align: left;
}

#content
{
  padding: 10px 10px 30px 10px;
  color: white;
}

/* this rule mimics a html paragraph tag but gets around the blinddown/up hiccup */
.para
{
  margin-top: 20px;
}

#shannon
{
  float: left;
  background: url('/images/shannon.jpg');
  width: 202px;
  height: 271px;
  margin: 10px 25px 25px 10px;
}

#shannon3
{
  float: right;
  background: url('/images/shannon3.jpg');
  width: 173px;
  height: 179px;
  margin: 10px 10px 25px 25px;
}

.page-title
{
  text-align: center;
  font-weight: bold;
}

.footer-title
{
  font-size: medium;
  font-weight: normal;
  margin-top: -15px;
  width: 95%;
  text-align: right;
  color: white;
}

#contact > * {
  width: 100%;
}
